.fc  {
    
    width: 400px;
  }

  .fc-theme-standard .fc-list{
border:0
  }

  button.fc-today-button.fc-button.fc-button-primary {

    display: none;
    opacity: 0;
   
  }

  .fc-theme-standard .fc-list-day-cushion{
      background-color: white;
      
  }

  .fc .fc-button-primary {
   
    background-color: #353535;
    border-color: white;
  
  
}


  .fc .fc-list-event-dot {
  
    border: 5px solid #F6C095;
    border: calc(var(--fc-list-event-dot-width, 10px) / 2) solid var(--fc-event-border-color, #F6C095);
    
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0;
    margin-left: 15px;
}

