
@media screen and (min-width: 768px) {
.Mountain {
    width: 800px;
  }
  
  .SVGweb {
    z-index: 0;
    position: absolute;
   
    width: 800px;
    margin-left: 50%;
    transform: translateX(-50%);
    left:0;
  
    top: 25vh;

    padding-bottom: 400px;
    display: inline-block;
    /* animation: SVGweb 4.6s; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  /* @keyframes SVGweb {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    30% {
      clip-path: polygon(0 0, 100% 0, 100% 6%, 0 6%);
    }
  
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  } */
  
  .title1Web {
    position: absolute;
    z-index: 99;
    width: 800px;
    top: 470px;
    left: 200px;
    color: #414345;
    font-size: 22pt;
    font-family: "PlayfairDisplay-Bold";
    white-space: pre-line;
  
  }
  
  .subTitle1Web {
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 570px;
    left: 200px;
    color: #414345;
    font-size: 18pt;
  }
  
  .title2Web {
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 1200px;
    left: 200px;
    color: #414345;
    font-size: 22pt;
    font-family: "PlayfairDisplay-Bold";
    white-space: pre-line;
  }
  
  .subTitle2Web {
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 1300px;
    left: 200px;
    color: #414345;
    font-size: 18pt;
  }
  
  .title3Web {
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 1900px;
    left: 200px;
    color: #414345;
    font-size: 22pt;
    font-family: "PlayfairDisplay-Bold";
    white-space: pre-line;
  
  }
  
  .subTitle3Web {
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 2000px;
    left: 200px;
    color: #414345;
    font-size: 18pt;
  }
  
  /* .footerWeb {
    color: rgb(0, 0, 0, 0.5);
    bottom: 2vh;
    right: 5vw;
    position: fixed;
    text-align: right;
    font-size: 12pt;
    z-index: 999;
    font-family: Futura PT W01 Book;
  }
  
  .footercopyWeb {
    color: rgb(0, 0, 0, 0.5);
    bottom: 6vh;
    right: 5vw;
    position: fixed;
    text-align: right;
    font-size: 12pt;
    z-index: 999;
    font-family: Futura PT W01 Book;
  } */

  .footer {
    position: absolute;
    top: 2750px;
    width: 100%;
    height: 1em;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
    font-size: 14pt;
    font-family: Futura PT W01 Book;
  }
  
  .footercopy {
    position: absolute;
    top: 2800px;
    width: 100%;
    height: 1em;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
    font-size: 14pt;
    font-family: Futura PT W01 Book;
  }
  
  
  .infotext {
    pointer-events: none;
    position: fixed;
    z-index: 99;
    top: 40vh;
    width: 20%;
    left: 5vw;
    color: #414345;
    font-size: 20pt;
    font-family: PlayfairDisplay-Bold;
  }
  
  .QRWrapper {
    pointer-events: none;
    position: fixed;
    z-index: 99;
    top: 35vh;
    width: 13em;
    right: 5vw;
  }
  
  .QR {
    position: relative;
    z-index: 99;
    top: 0vh;
    width: 100%;
    right: 0vw;
  }
  
  .QRtext {
    position: relative;
    z-index: 99;
    top: 1em;
    height: 4em;
    right: 0vw;
    color: #414345;
    font-size: 14pt;
  }
  





  .buttonClose{
    z-index: 11;
      position: fixed;
      left: 40px;
      top: 40px;
    }

  .buttonInlineInfoIdeas{
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 2600px;
    color: white;
    background-color: #353535;
  }
  
  .buttonInlineInfoContact{
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 2660px;
    color: #353535;
    background-color: white;
  }

  /* .buttonSelectLocationNo{
    background-color: #ffffff;
    width: 300px;
    position: fixed;
    bottom: 40px;
    left: calc(600px + ((100vw - 600px) /2 ) - 150px);
    margin-left: 0;
    z-index:9990;
  
  } */
  .submitPostButton{
    z-index: 99995;
      position: fixed;
      top: calc(50vh + 150px );
      left: 280px;
      width: 240px;
      animation:enteranimation 2s
     
  }
  .buttonRulesAccept {
    z-index: 99998;
    color: white;
    background-color: #414345;
  
      position: fixed;
      top: 72vh;
      left: 220px;
      width: 360px;
      margin-top:0
    
  }
  .buttonVerify{
    z-index: 9;
    color: white;
    background-color: #414345;
  
      position: relative;
      margin-top: 50px;
      left: calc(50% - 150px);
      width: 300px;
  }

  .buttonMapdesktop{
    width: 400px;
    position:fixed;
    top: 40px;
    left: calc(0px + ((100vw - 600px) / 2) - 200px);
    animation: FadeAnimationVeryFast 1s;
    
  }

  .buttonMapdesktop_hide{
    display: none;
    
  }

  .buttonResetMapDesktop{
    width: 50px;
    position:fixed;
    top: 40px;
    left: calc(0px + ((100vw - 600px) / 2) + 210px);
    animation: FadeAnimationVeryFast 1s;
  }
  @keyframes FadeAnimationVeryFast {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    40% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  

    .cookiesHeader {
        font-family: Futura PT W01-Bold;
      }
    
      .cookiesText {
        z-index: 9999;
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        color: #353535;
        text-align: center;
        background-color: transparent;
        font-size: 13pt;
        
        top: 0;
        left: 0;
        border-radius: 20px;
        animation: FadeAnimation 0s;
      }
   

    .MainBackground{
      
      width: 100vw;
    }

    .MainBackgroundHome{
       
      width: 400px;
      height: 100vh; 
    }
    .contentWrapper {
      margin-left: 200px;
     width: 400px; 
     transition: 0.5s;
     position: relative;
     
    }
    .contentWrapper_hide {
      margin-left: -400px;
     width: 400px; 
     transition: 0.5s;
    }

    .contentWrapper_dialog {
      margin-left: 0px;
     width: 400px; 
     transition: 0.5s;
     
    }
    .contentWrapper_dialog_hide {
      margin-left: -600px;
     width: 400px; 
     transition: 0.5s;
    }

    .contentWrapperInsights{
      width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
    }

    .spinnerDiv {
    
      position: absolute;
    }

    .spinnerDivBackground {
    
      position: absolute;
    }
    .content{
      margin-top: 0em;
      overflow-y: scroll;
      position: relative;
    }

    .homeHeadermain {
     
      margin-top: 50px;
    }
  
    .dialogOverlayContent{
  
      position: relative;
      margin-left: 200px;
      width: calc(100vw - 400px);
      height: auto;
    }
    /* .appbar {
      display: none;
    } */
    .Navbar {
      display:none
    }
    .TopNav {
      display:none
    }

    .Topbar_Tabs{
      margin-top: 20px;
      justify-content:center;
      width: 100%;
    }
    .Dialog_Tabs{
      margin-bottom:50px;
    }

    .Account_Tabs{
      margin-bottom:50px;
    }
    .content {
    margin-top: 0px;
      padding-bottom: 100px;
     
      overflow-x: hidden;
    }
    .add {
      z-index: 9999;
      width: 160px;
      height: 40px;
      padding: 0;
      
      padding-left: 20px;
      padding-right: 20px;
    
      position: relative;
      left: 20px;
      transform:none;
      
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      
      background-color: #353535;
      
      border: 0px white solid;
      border-radius: 40px;
      top: 85px;
      margin-top:0;
      margin-bottom: 20px;
      font-size: 12pt;
      color: white;
      font-family: Futura PT W01 Book;
      animation: none;

      box-shadow: rgb(0, 0, 0,0) 0px 20px 20px -15px;
      transition: 0.5s;

      
    }
  
    .add_hide {
      left: -400px;
    }
  
  
    .addText{
    padding-left: 10px;
    padding-right: 5px;
    margin-left:auto;
    margin-right:auto;
    }
  
  
     /* .add:active {
      width: 380px;
      left:210px;
      background-color: white;
      height:70vh;
      transition: 0.09s cubic-bezier(.51,0,.38,1)
    }  */
  
    .inlineInfoIcon{
      position: relative;
  
      display: flex;
        align-items: center;
        justify-content: space-between;
        
      z-index: 999;
      width: 30px;
      left: 20px;
      top: 70px;
      font-size: 14pt;
      line-height:14pt;
    }
    .inlineInfoIconText{
      padding-left: 10px;
      color:#353535;
    }
  
    .profile{
      position: relative;
      overflow:hidden;
  
      display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        
      z-index: 999;
      width: 160px;
      left: 20px;
      top: 80px;
      font-size: 14pt;
      line-height:14pt;
      color:#353535;
  
      margin-bottom:10px;
    
  }

     .profile_indented{
    position: relative;
    overflow:hidden;

    display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      
    z-index: 999;
    width: 160px;
    left: 80px;
    top: 80px;
    font-size: 14pt;
    line-height:14pt;
    color:#353535;

    margin-bottom:10px
  
}
  
  
  
    .navBackgroundWeb-wrapper{
      display: block;
      z-index: 99;
      position: fixed;
      width:400px;
      height:50px;
      top:0;
      left: 200px;
    
    }
    .navBackgroundWeb_hide{
      left: -400px;
    }

    .navBackgroundWeb-background{
      z-index: 0;
      position: absolute;
      width:100%;
      height:200px;
      top: 0;
    
      background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,218,83,0) 51%, rgba(255,212,130,1) 81%, rgba(255,209,155,1) 100%);
  pointer-events: none;
    }
  
    .mapWrapper {
      margin: 0px;
      top: 0;
      left: 600px;
      position: fixed;
    }
  

    .selectLocationContainer{
position: fixed;
      height:130px;
      width: 380px;
      margin-left:210px;
      top: 40px;
      background-color: #F8F8F8;
      border-radius: 20px;
      box-shadow: 0 8px 30px -12px rgba(0,0,0,0.5);
      z-index: 5;
      animation:enteranimation 0.5s
      
    }

    
    .postCard{
      
        position: fixed;
        top: 135px;
    
        left: 0;
        margin-left:210px;
        margin-right: auto;
        height: 50vh;
        width: 380px;
        border-radius: 20px;
        box-shadow: 0 0px 40px -12px rgba(0,0,0,0);
        background-color: white;
        z-index: 2;
        animation:enteranimation 1s ;
    }


@keyframes enteranimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} 

    
  
    .PostBackground {
     display: none; }
  

     
   
/* .PostRulesBackground{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
  position: fixed;
  z-index: 99996;
} */
    .PostRules {
      z-index: 99997;
      position: fixed;
      width: 340px;
      margin-left: 210px;
      height: 70vh;
      padding: 20px;
      color: #414345;
      text-align: center;
      background-color: white;
      font-size: 13pt;
    margin-top: 0;
      top: 40px;
      border-radius: 20px;
      left: 0;
      box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);

       
    }
    
    .PostRulesHeader {
      font-family: Playfair Display;
      font-size: 24pt;
    }


    
  
    .buttonLikeFixed{
        left: 220px;
       
    
    }
  
  
  
  
  .react-geocoder input {
    width: 300px;
    position: fixed;
    top: 50px;
    border-radius: 15px;
    border: none;
    height: 50px;
     left:calc(600px + ((100vw - 600px) / 2) - 150px);
    transform:translateX(0%);
    font-family: Futura PT W01 Book;
    font-size: 12pt;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
  }
  .react-geocoder-results {
    position: fixed;
    top: 110px;
    left:calc(600px + ((100vw - 600px) / 2) - 150px);
    z-index: 1;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    padding-right: 10px;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
  }
  
  .pinLocationHeader{
    z-index: 9999;
        position: fixed;
        top: 50px;
        left:calc(600px + ((100vw - 600px) / 2) - 150px);
        /* left:calc(100vw - 600px);
        transform:translateX(-50%); */
        width: 300px;
        
        height: 50px;
        padding-left: 15px;
        padding-right: 5px;
        border-radius: 15px;
        color:#353535;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        white-space: nowrap;
        overflow:hidden;
        pointer-events: none;
        
        box-shadow: 0 8px 30px -12px rgba(0,0,0,0.5);
    
    }
  
  /* .react-geocoder-results {
    position: fixed;
    top: 10vh;
    left: 2.5vw;
    z-index: 1;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 95vw;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
  }
  
  .react-geocoder-item {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px;
  } */
  

  .geocoder-edit {
    z-index: 9999;
    position: relative
    ;
    font-family: Futura PT W01 Book;
  
  
  }
  
  
  
  .geocoder-edit input {
    width: 95%;
    position: relative;
    top: 2.5%;
    border-radius: 5px;
    border: none;
    height: 50px !important;
    padding:0;
    left: 0%;
    padding-left: 15px;
  
    font-family: 'Futura PT W01 Book', sans-serif;
    font-size: 12pt;
    box-shadow: 0 8px 30px -12px rgba(0,0,0,0);
  
    border: 1px solid #cecece;
    margin-bottom: 5px;
  }
  
  .geocoder-edit .react-geocoder-results {
    position: relative;
    top: 10px;
    left: 0%;
    z-index: 1;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.2);
  }
    
  
  
  .FilterComponent{
    position: fixed;
    height: 100vh;
    width: 200px;
    overflow-x: hidden;
    background-color: #F8F8F8;
    top:0;
    left: 0;
    z-index: 999;
    display:block;
    transition: 0.5s;

    overflow-y: scroll;
  }
  
  .FilterComponent_hide{
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #F8F8F8;
    top:0;
    left: -200px;
    z-index: 999;
    display:block;
    transition: 0.5s;
  }
  
  .FilterComponentMobile{
    display:none
  }
    .legendwrapper {
        transform: scale(0.9);
     position: relative;
      width: 180px;
      height: auto;
      left: 10px;
      border-radius: 0px;
      top: 50px;
      background-color: #F8F8F8;
      margin-left: 0px;
      padding: 0px;
    }
    .Filterheader{
      position: relative;
    margin-top: 50px;
    padding-right: 0;
    top: 0;
    height: 50px;
    transform: rotate(0);
    color: #414345;
    font-size: 22pt;
    font-family: Playfair Display;
    }
    .legend {
      position: relative;
      top: 0;
      width: 90%;
      display:flex;
      height: 100%;
      padding-left: 0;
      left: 0%;
      border-left: 0;
      flex-direction: column !important;
      
    }
   
    .wrapperScreamDialog {
      margin-left: 200px;
      width: 400px;
      z-index: 99;
      top: 0;
      
      /* position: fixed; */
    }

    .wrapperMonitoringDialog{
      margin-top: 20px;
      border-radius: 20px;
      right:20px;
      width: 400px;
      z-index: 99;
      top: 0;
      
  height: calc(100% - 40px);
  position: fixed;
  overflow-x: hidden;
  background-attachment: fixed;
 
  background: #ffffff
    }
  
    .dialogNavigation{
      position: fixed;
      z-index: 9999;
      top:0;
      left: 0;
      display: flex;
        flex-direction: row;
        margin-left: 200px;
        width: 380px;
        padding: 10px;
        padding-top: 20px;
    }
    .mapWrapperDialog{
      display: none;
      
        }
        .dialogZoomButton{
          display:none
        }
        .dialogCard{
        
          margin-top: 80px;
         
        }
        .commentFormWrapper{
         
          left:200px;
          width: 400px;
         
        }
      
  
         .infoPageWrapperDesktop{
          position: relative;
        } 
    .logo2 {
      position: absolute;
      top: 0em;
      left: 0vw;
      width: 100%;
      z-index: 99;
      color: white;
      padding-bottom: 10;
      font-size: 40;
      text-align: left;
      line-height: 35px;
      font-weight: 100;
      font-family: Playfair Display;
      clear: both;
    }


.logoWeb {
    position: fixed;
    width: 180px;
    z-index: 99999;
    
    padding-bottom: 10;
    font-size: 40;
    margin-left: 20px;
    padding-top: 35px;
    margin-top: 0;
    /* animation: logoAnimation 2.5s; */
    background-color: #F8F8F8;
  }


.insta {
  position: fixed;
  width: 180px;
  z-index: 99998;
  
  top: calc(100vh - 50px);
  left: 20px;
  padding-bottom: 50px;
  padding-top: 10px;

  
 
  /* animation: logoAnimation 2.5s; */
  background-color: #F8F8F8;
  transition: 0.5s;

}

.facebook {
  position: fixed;
  width: 180px;
  z-index: 99999;
  
  top: calc(100vh - 50px);
  left: 60px;
  padding-bottom: 50px;
  padding-top: 10px;
  transition: 0.5s;
  
 
 

}


  
  @keyframes logoAnimation {
    0% {
      opacity: 0;
    }
  
    85% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .Gib {
    font-size: 3vw;
    color: #ffd388;
    font-family: Playfair Display;
    width: 25%;
    left: 35%;
    text-align: center;
    position: fixed;
    top: 15vh;
    animation: GibAnimation 0.5s;
  }
  
  @keyframes GibAnimation {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    10% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    60% {
      opacity: 1;
      transform: scale(1.1);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  .MainAnimation2 {
  
opacity: 1;
height: 100vh;
animation: cardanimation 0.8s ease-in-out;
}




.VerifyHeader {
  
 position: relative;
  margin-top: 5vh;
  width: 500px;
  margin-left: calc(50% - 250px);
  height: 100%;
  color: white;
}

.VerifySubHeader {
  

  width: 600px;
  margin-left: calc(50% - 300px);
  margin-top: 3vh;
  height: 100%;

}

.Celebrate {
  z-index: 0;
  position: fixed;
  width: 350px;
 
  left: 15%;
  bottom: 0vh;
  opacity: 0;
  animation: CelebrateAnimation 2s;
}



.CelebrateVerify {
  z-index: 0;
  position: fixed;
  width: 400px;
  left: 5vw;
  bottom: 2vh;
  opacity: 1;
  animation: CelebrateVerifyAnimation 2s;
}

@keyframes CelebrateVerifyAnimation {
  0% {
    opacity: 0;
    bottom: 0vh;
  }

  100% {
    opacity: 1;
    bottom: 2vh;
  }
}
  }

  @media screen and (max-height: 768px) {
    .insta {
      box-shadow: rgb(0, 0, 0, 0.2) 0px -10px 20px -15px;
  
    }
  
  }
  