.projectIdeascontent {
    position: relative;
    margin-top: 0px;
    padding-bottom: 70vw;
    
 
    
  }

  @media screen and (min-width: 768px) {
    
    .projectIdeascontent {
      padding-bottom: 0;
      
    }
    
  }


  .projectHeader {
    position: relative;
    z-index: 9;
    margin-top: -20px;
    margin-left: 2.5%;
    padding-bottom: 1em;
    font-size: 25pt;
    color: white;
    width: 95%;
    text-align: left;
    font-family: "Playfair Display", serif;
    animation: enteranimation .5s;
  }

  .no-ideas-yet{
   
    position: relative;
    font-size: 15pt;
    color: #414345;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    z-index: 10;
  }