.projectCard {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    max-width: 95%;
    border-radius: 20px;
    /* box-shadow: 0 8px 40px -12px rgba(0,0,0,0); */
    max-height: 14em;
    /* background-color: rgb(255,255,255,0.6); */

    border-radius: 20px;
   overflow: hidden;
    /* background: transparent;
    box-shadow:  9px 9px 18px #f6d254,
                 -9px -9px 18px #ffe05a; */
  }


.leftWrapper{
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;

}
.leftWrapper img{
    width: 100%;
    margin-left: 0%;
}

.rightWrapper{
    
   
    margin-left: 10px;
    height: 120px;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
   
  
}

.title{
    font-size: 18px;
    font-family: PlayfairDisplay-Bold;
     font-family: Futura PT W01-Bold; 
    color: #353535;
  
}
 .owner{
    
    font-family: Futura PT W01 Book;
    color: #353535
} 

.date{
    margin-top:10px;
    font-family: Futura PT W01 Book;
    color: #353535
}



.ideaCount{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: Futura PT W01 Book;
    color:#353535;
    margin-top: 10px;
    margin-left: -10px;
    
}