.projectCardsWrapper{

    /* margin-top: 10px; */
    width: calc(100vw );
    margin-left: 20px;
    transform: scale(0.8);


}.projectDialogCard{

  z-index: 99;
  position: relative;

  display: flex;
  margin-top: 0px;
  margin-left: 2.5%;
  width: 95%;
  min-width: 95%;
  border-radius: 20px;
  height: auto;

  background-color: white;
  box-shadow: 0 8px 40px -12px rgba(0,0,0,0);
}


.imgWrapper{


    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    left: calc(50% - 50px);
    margin-top: 10px;
  

    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;



 }

 .project-dialog-owner{
    
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Futura PT W01 Book;
  color: #353535;
  text-align: center;

} 

 .project-dialog-title{
  font-size: 18px;
  font-family: PlayfairDisplay-Bold;
  /* font-family: Futura PT W01-Bold; */
  
  color: #353535;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top:10px;
  
  margin-bottom: 20px;

}

 /*
.dialogFilterWrapper {
    z-index: 99;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom:25px;
    color: #353535;
    
    
    height: 1.7em;
    font-family: Futura PT W01-Bold;
  
    animation: enteranimation 1.5s;
  }*/
  
